body {
  width: 100%;
  height: 100%;
  margin: 0;  
  font-family: sans-serif;
  font-size: 1.1em;
}

h1, h2 {
  color: white;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
   text-align: center;
}

h1 {
  font-size: 45pt;
}

h2 {
  font-size: 30pt;
  margin-bottom: -20px;
}

h3 {
  text-align: center;
  margin: 0;
  margin-top:10px;;
}

@keyframes grow-shrink {
  0% {
    transform: scale(1) rotate(30deg);
  }
  100% {
    transform: scale(0.8) rotate(30deg);
  } 
}

#slanty-hype-word {
  transform: rotate(30deg);
  animation: grow-shrink 1s infinite;
  animation-direction: alternate;
  position: absolute;
  left: 65%;
  top: 10px;
  font-size: 30px;
}

section {  
  background-color: white;
  margin: 50px;
  margin-bottom: 20px;
  padding:20px;
  max-width: 800px;
  margin:20px auto;
}

#newsletter {
  text-align: centered;
}

#image-wrapper {
  background-color: #333;
  margin: auto;
}
#image-wrapper, #image-wrapper img {
  max-width: 800px;
}

.slick-prev:before, .slick-next:before {
    color: black;
    font-size: 40px;
}
.slick-next {
    right: -75px;
}
.slick-prev {
    left: -75px;
}

.slick-prev, .slick-next {
  width: 40px;
}

section, img {
  border: 2px solid black;
}

img.vendor-logo {
  /* Forces img to stay inside parent */
  max-width: 100%;
}

#stores {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

#stores span {
  padding: 20px;
}

#stores span a, #stores span a:visited  {
  text-decoration: none;
  color: black;
}

#stores span h2 {
  color: black;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 0;
}

#specs li {
  padding-bottom: 5px;
}

#pitch {
    font-size: 1.2em;
    padding: 30px;
    word-spacing: 7px;
    max-width: 780px;
}
